*{
  margin: 0;
  padding: 0;
}
.navBar {
  background-color: #d9d3cc;
  overflow: hidden;
}
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}
.navBar a:hover {
  background-color: white;
  color: black;
}
.navBar a.active {
  background-color: #009aed ;
  color: white;
}
.navBar .active {
  font-weight: bold;
  background-color: black;
}

#title {
  font-family: 'Righteous', cursive;
  font-size: 50px;
  color: #009aed;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #d9d3cc;
}
body{
  background-color: #ebe8e4;
  font-family: 'PT Serif', serif;
}


#foodCheckButtons{
  display: none;
}

#firstnameBox{
  margin-left: 100px;
  margin-top: 30px;
  padding: 5px;
}

#lastnameBox{
  margin-left: 100px;
  padding: 5px;
}

#emailBox{
  margin-left: 100px;
  padding: 5px;
}

#addressBox{
  margin-left: 100px;
  padding: 5px;
}
#addressInputBox{
  width: 44%;
}

#cityBox{
  margin-left: 100px;
  padding: 5px;
}
#stateBox{
  margin-left: 100px;
  padding: 5px;
}
#phoneBox{
  margin-left: 100px;
  padding: 5px;
}
p{
  margin-left: 100px;
  padding: 5px;

}

#form1, #form2{
  margin-left: 100px;
  padding: 5px;
}

#petlistBox{
  margin-left: 100px;
  padding: 5px;
}

#petlistInputBox{
  width: 50%;
  height: 100px;
}

#submitButton{
  display: block;
  margin: auto;
  margin-top: 50px;
  background-color: #009aed;
  padding: 5px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#locationBox2{
  margin-left: 100px;
  padding: 5px;
  margin-top: 30px;
}
